.CardHolder{
    display: flex;
    justify-content: space-between;
}

.Cards{
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #1e392a;
    box-shadow: 1px 1px 3px #3cc47c;
    background-color: #e9c893;
}